{% extends "website/_base.html" %} {% block main_content %}
<div class="x_content">
    <div class="form_wizard wizard_verticle">
        <ul class="list-unstyled wizard_steps anchor">
            <li>
                <a href="#create_course" class="selected">
                    <span class="step_no">Create Course</span>
                </a>
            </li>
            <li>
                <a href="#course" class="{% if course %} selected {% else %} disabled {% endif %}">
                    <span class="step_no">List Course</span>
                </a>
            </li>
        </ul>
        <div class="stepContainer">
            <div id="create_course" class="content" style="display: block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Create Course </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form method="POST" class="form-horizontal form-label-left">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="course_id">Course Id
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="course_id" class="form-control col-md-7 col-xs-12" required id="course_id">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="course_name">Name
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="course_name" class="form-control col-md-7 col-xs-12" required id="course_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="grading_rubric">Add Grading Policy
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea name="grading_rubric" class="form-control col-md-7 col-xs-12" required id="grading_rubric" rows="15"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: none;">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="appeal_role">Explain the appeal role
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea name="appeal_role" class="form-control col-md-7 col-xs-12" required id="appeal_role" rows="15">None</textarea>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="course_grading_type">Grading Type
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="course_grading_type" class="form-control col-md-7 col-xs-12" required id="course_grading_type">
                                                <option value="N">Number</option>
                                                <option value="A">Alphabet</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12" for="appeal_role">
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="button" value="Add Assignments" class="btn btn-primary" id="add_assignments">
                                        </div>
                                    </div>
                                    <table class="homework_assignment table table-border">
                                    </table>
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-3 col-xs-12"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="submit" value="Submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="course" class="content" style="display: {% if course %} block {% else %} none {% endif %}">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> List Course </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table">
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Course Id</th>
                                        <th>Action</th>
                                    </tr>
                                    {% for c in course %}
                                    <tr>
                                        <td> {{ c.course_name }}</td>
                                        <td>{{ c.course_id }}</td>
                                        <td>
                                            <a href="{% url 'instructor__edit_course' c.id %}" class="btn btn-download" style="color:black"> Goto Course Page</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    initializeHomeWork()
    function initializeHomeWork() {
        $("#add_assignments").trigger('click')
    }
</script> {% endblock %}