{% extends "website/_base.html" %} {% block main_content %}
{% load filter %}
<div class="x_content">
    <div class="form_wizard wizard_verticle">
        <ul class="list-unstyled wizard_steps anchor">
            <li>
                <a href="#course_info" class="selected timeline">
                    <span class="step_no">Course Info</span>
                </a>
            </li>
            <li>
                <a href="#student_enrollment" class="selected timeline">
                    <span class="step_no">Enrollment</span>
                </a>
            </li>
            <li>
                <a href="#student_grouping" class="selected timeline">
                    <span class="step_no">Grouping</span>
                </a>
            </li>
            <li>
                <a href="#all_grades" class="selected timeline">
                    <span class="step_no">All Grades</span>
                </a>
            </li>
            <li>
                <a href="#peer_grades" class="selected timeline">
                    <span class="step_no">Peer Grades</span>
                </a>
            </li>
        </ul>
        <div class="stepContainer">
            <div id="course_info" class="content" style="display: block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Create Course </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form method="POST" class="form-horizontal form-label-left">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Course Id:
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="course_id" value="{{ course.course_id }}" class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Course Name:
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="course_name" value="{{ course.course_name }}" class="form-control col-md-7 col-xs-12" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="grading_rubric">Add Grading Policy
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea name="grading_rubric" class="form-control col-md-7 col-xs-12" required id="grading_rubric" rows="15">{{ course.grading_rubric }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: none;">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="appeal_role">Explain the appeal role
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea name="appeal_role" class="form-control col-md-7 col-xs-12" required id="appeal_role" rows="15">{{ course.appeal_role }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="course_grading_type">Grading Type
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="course_grading_type" class="form-control col-md-7 col-xs-12" required id="course_grading_type">
                                                <option value="N" {% if course.course_grading_type == "N" %}  selected {% endif %} >Number</option>
                                                <option value="A" {% if course.course_grading_type == "A" %}  selected {% endif %}>Alphabet</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="course_group_type">Group Type
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="course_group_type" class="form-control col-md-7 col-xs-12" required id="course_group_type">
                                                <option value="same" {% if course.course_group_type == "same" %}  selected {% endif %}>Keep Same</option>
                                                <option value="shuffle" {% if course.course_group_type == "shuffle" %}  selected {% endif %} >Shuffle</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: none;">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="course_function">Function
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="course_function" class="form-control col-md-7 col-xs-12" required id="course_function">
                                                <option value="g" {% if course.course_function == "g" %}  selected {% endif %} >Only Grouping</option>
                                                <option value="p" {% if course.course_function == "p" %}  selected {% endif %}>Peer Evalutation</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12" for="appeal_role">
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="button" value="Add Assignments" class="btn btn-primary" id="add_assignments">
                                        </div>
                                    </div>
                                    <table class="homework_assignment table table-border">
                                        {% for c in homework %}
                                        <tr class='assign_cl'>
                                            <td>
                                                <label> Assignment {{ c.homework_name }} Deadline </label>
                                                <br>
                                                <input type="datetime-local" name="{{ c.homework_name }}___homework_deadline" value="{{ c.homework_deadline|date:'c' }}"
                                                    class="form-control" required>
                                            </td>
                                            <td>
                                                <label> Grading Deadline </label>
                                                <br>
                                                <input type="datetime-local" name="{{ c.homework_name }}___grade_deadline" value="{{ c.grade_deadline|date:'c' }}" class="form-control"
                                                    required>
                                            </td>
                                            <!-- <td>
                                                <label> Grouping Constraints </label>
                                                <br>
                                                <select name="{{ c.homework_name }}___constraints" required>
                                                    <option value="random" selected> Random Group</option>
                                                    <option value="similar_schedule"> Group Similar Schedule </option>
                                                    <option value="similar_commitment_level"> Group Similar Commitment Level </option>
                                                    <option value="similar_skills"> Group Similar Skills </option>
                                                    <option value="different_skills"> Group different Skills </option>
                                                </select>
                                            </td> -->
                                            <td>
                                                <input type="hidden" name="{{ c.homework_name }}___constraints" value="random" required>
                                            </td>
                                            <td>
                                                <label>Student Per Group</label>
                                                <br>
                                                <input type="number" min="1" name="{{ c.homework_name }}___no_of_group" value="{{c.no_of_group}}" class="form-control" required>
                                            </td>
                                            <td>
                                                <label>No. Of Grader</label>
                                                <br>
                                                <input type="number" min="1" name="{{ c.homework_name }}___no_of_grader" value="{{c.no_of_grader}}" class="form-control"
                                                    required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <label>Grading Rubric</label><br>
                                                <input type="text" name="{{ c.homework_name }}___grade_rubric"  value= "{{ c.grade_rubric}}" class="form-control" required>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-3 col-xs-12"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="submit" value="Submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="student_upload" class="content" style="display: block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        
                    </div>
                </div>
            </div>  -->
            <div id="student_enrollment" class="content" style="display: block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Student Upload </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form action="{% url 'instructor__student_upload' course_pk %}" method="POST" enctype="multipart/form-data" class="form-horizontal form-label-left">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="course_id">Upload Student Csv
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" accept=".csv" class="form-control col-md-7 col-xs-12" required="True" name="student_upload">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-3 col-xs-12"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="submit" value="Upload" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Course Student </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table" id="student_enrollment_list">
                                    <thead>
                                        <tr>
                                        <th> Student Name</th>
                                        <th>Enrollment Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for c in enrolled_student %}
                                        <tr>
                                            <td>{{ c.user.name }}</td>
                                            <td>
                                                <input type="checkbox" value="{{ c.user.id }}" {% if c.enrollment_status %} checked {% endif %}>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="student_grouping" class="content" style="display: block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>
                                    Groups
                                </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        {% for c in group_grades %}
                                        <li role="presentation" class="">
                                            <a href="#assignment{{c}}" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Assigment {{c}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        {% for key , values in group_grades.items %}
                                        <div role="tabpanel" class="tab-pane fade" id="assignment{{key}}" aria-labelledby="home-tab">
                                            <table class="table table-border nowrap" id="table{{key}}" style="width:100%">
                                                <thead>
                                                    <th>Group</th>
                                                    <th>Grader</th>
                                                    <th>Grade</th>
                                                    <th>Explanation</th>
                                                    <th>HW Download</th>
                                                    <th>Appeal Grader</th>
                                                    <th>Appeal Grade</th>
                                                    <th>Appeal Explanation</th>
                                                </thead>
                                                <tbody>
                                                    {% for v in values %}
                                                    <tr>
                                                        <td>{{ v.group|linebreaks }}</td>
                                                        <td>{{ v.grader|linebreaks }}</td>
                                                        {% if v.deadline_miss %}
                                                            <td>F</td>
                                                            <td>Late Submission</td>
                                                        {% else %}
                                                            <td>{{ v.grade|linebreaks }}</td>
                                                            <td>{{ v.explanation|linebreaks }}</td>
                                                        {% endif %} 
                                                        {% if v.file is None or v.file == "None" %}
                                                                <td></td>
                                                            {% else %}
                                                                <td><a href="{{v.file}}"> Download </a></td>
                                                        {% endif %}
                                                        
                                                        <td>{{ v.appeal_grader|linebreaks }}</td>
                                                        {% if v.deadline_miss %}
                                                            <td>NA</td>
                                                            <td>NA</td>
                                                        {% else %}
                                                            <td>{{ v.appeal_grade|linebreaks }}</td>
                                                            <td>{{ v.appeal_explanation|linebreaks }}</td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                           {% comment %}
                            <div class="x_title">
                                <h2> Student Grouping </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form action="{% url 'instructor__do_grouping' course_pk %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-3 col-xs-12"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="submit" value="Do Grouping" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="all_grades" class="content" style="display: block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> All Grades </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="group_all_grade" class="table">
                                    <thead>
                                        <th> Name</th>
                                        {% for c in homework %}
                                        <th>HW {{ c.homework_name }}</th>
                                        {% endfor %}
                                        <th> Total</th>
                                    </thead>
                                    <tbody>
                                        {% for key,values in all_grades.items %}
                                        <tr>
                                            <td>{{ values.name }}</td>
                                            {% for grade in values.grade %}
                                                {% if course.course_grading_type == "A" %}
                                                    <td> {{ grade|grade_alphabet }}</td>
                                                {% else %}
                                                    <td> {{ grade|grade_number }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="peer_grades" class="content" style="display: block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Peer Grades </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="first_grade_grading" class="table">
                                    <thead>
                                        <th> Name</th>
                                        {% for c in homework %}
                                        <th>HW {{ c.homework_name }} Grading quality</th>
                                        {% endfor %}
                                        <th> Total</th>
                                    </thead>
                                    <tbody>
                                        {% for key,values in first_grader_grading.items %}
                                        <tr>
                                            <td>{{ values.name }}</td>
                                            {% for grade in values.grade %}
                                                {% if course.course_grading_type == "A" %}
                                                    <td> {{ grade|grade_alphabet }}</td>
                                                {% else %}
                                                    <td> {{ grade|grade_number }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).on('ready', function () {

        var columns = []
        {% for c in homework %}
        {% if forloop.first %}
        var t = {}
        t['title'] = 'Name'
        columns.push(t)
        {% endif %}

        var t = {}
        t['title'] = 'HW' + '{{ c.homework_name}}'
        columns.push(t)

        {% if forloop.last %}
        var t = {}
        t['title'] = 'Total'
        columns.push(t)
        {% endif %}

        {% endfor %}
        var datasource = []
        {% for key, values in all_grades.items %}
        t = []
        t.push('{{ values.name }}')
        {% for grade in values.grade %}
        t.push('{{ grade }}')
        {% endfor %}
        datasource.push(t)
        {% endfor %}

        $('#group_all_grade').DataTable({
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            bRetrieve: true,
            dom: "Bfrtip",
        });
        
        {% for key , values in group_grades.items %}
            var datatable{{key}} = $('#table{{key}}').DataTable({
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                bRetrieve: true,
                dom: "Bfrtip",
                
                bScrollCollapse : true,
                // "columns": [
                //     { "width": "20%" },
                //     { "width": "20%" },
                //     { "width": "5%" },
                //     { "width": "10%" },
                //     { "width": "15%" },
                //     { "width": "15%" },
                //     { "width": "5%" },
                //     { "width": "10%" },
                //   ]
            });
        datatable{{key}}.scroller.measure().draw(false);
        {% endfor %}
        
        $('#student_enrollment_list').DataTable({
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            bRetrieve: true,
            dom: "Bfrtip",
        });

        $('#first_grade_grading').DataTable({
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            bRetrieve: true,
            dom: "Bfrtip",
        });


        $("input[type='checkbox']").on('click', function(){
	        a = $(this).is(":checked")
            $.ajax({
                    url : "enroll/",
                    method : 'POST',
                    data : {'userId':$(this).val(),'status':a},
            })
        })
    })
</script> {% endblock %}
