{% extends "website/_base.html" %} {% block main_content %}
{% load filter %}
<div class="x_content">
    <div class="form_wizard wizard_verticle">
        <ul class="list-unstyled wizard_steps anchor">
            <li>
                <a href="#personal_info" class="selected">
                    <span class="step_no">Your Progress</span>
                </a>
            </li>
            <!-- <li>
                <a href="#course_info" class="selected">
                    <span class="step_no">Course Info</span>
                </a>
            </li> -->
            <li>
                <a href="#group" class="selected">
                    <span class="step_no">Group</span>
                </a>
            </li>
            <li>
                <a href="#upload" class="{% if file_upload %} selected {% else %} disabled {% endif %}">
                    <span class="step_no">Upload</span>
                </a>
            </li>
            <li>
                <a href="#peer_evaluation" class="{% if peerevalutation %} selected {% else %} disabled {% endif %}">
                    <span class="step_no">Peer Evaluation</span>
                </a>
            </li>
            <li>
                <a href="#grades" class="{% if grade %} selected {% else %} disabled {% endif %}">
                    <span class="step_no">Grades</span>
                </a>
            </li>
            <li>
                <a href="#appeal_grader" class="{% if appeal_grader %} selected {% else %} disabled {% endif %}">
                    <span class="step_no">Appeal Grader</span>
                </a>
            </li>
        </ul>

        <div class="stepContainer">
            <div id="personal_info" class="content" style="display: block">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Course Enrolled</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table">
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Course Id</th>
                                    </tr>
                                    {% for c in student_course_enroll %}
                                    <tr>
                                        <td>{{c.course.course_name}}</td>
                                        <td><a href="{% url 'student__student_course' c.course.id %}" class="btn btn-download"> Goto Course </a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="x_title">
                                <h2> Current Course Info ({{ selected_course_obj.course_id }}) </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-hover">
                                    <tr>
                                        <th> Assignment </th>
                                        <th> Uploads </th>
                                        <th> Appeal </th>
                                        <th>Peer Grading </th>
                                        <th>Appeal Peer Grading</th>
                                    </tr>
                                    {% for c in homework %}
                                    <tr>
                                        <td>{{ c.assignment_name }}</td>
                                        {% if c.deadline_miss %}
                                            <td><input type="checkbox" disabled></td>
                                            <td>NA</td>
                                            <td>NA</td>
                                            <td>NA</td>
                                        {% else %}
                                            <td>{% if c.uploads %} <input type="checkbox" checked disabled> {% else %} <input type="checkbox" disabled> {% endif %}</td>
                                            <td>{% if  c.appeal_done_count == c.total_member  %} Yes {% else %} No {% endif %} </td>
                                            <td>{% if  c.grade == ""  %} No {% else %} Yes {% endif %}</td>
                                            <td>{% if  c.appeal_done_count == c.total_member  %} {{ c.grade }} {% endif %} </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </table>
                                {% for c in homework_appeal %}
                                <div>
                                    <form method="GET" action="{% url 'student__appeal' c.group.group %}">
                                        {% csrf_token %}
                                        <label>Are you want to appeal for Assignment No {{c.group.homework.homework_name }} </label>
                                        <input type="submit" class="btn appeal_submit" value="Yes">
                                        <input type="button" class="btn appeal_cancel" data-group_id="{{c.group.group}}" value="No">
                                    </form>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="course_info" class="content" style="display: block;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Course Info </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form method="POST" class="form-horizontal form-label-left">
                                    {% csrf_token %}
                                    <h4> In which course you are enrolled?</h4>
                                    <select name="course" disabled>
                                        <option value="">Select {{ selected_course }}</option>
                                        {% for c in course %}
                                        <option value="{{ c.id }}" {% if c.id|slugify == selected_course|slugify %} selected {% endif %} readonly>{{ c.course_name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    {% for c in constraints %}
                                    <h4>{{c.question}} </h4>
                                    {% for d in c.options %}
                                    <input type="radio" name="{{c.id}}" value="{{d.value}}" required {% if d.value == c.selected %} checked {% endif %}>{{d.content}}
                                    <br> {% endfor %} {% endfor %}
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div id="group" class="content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Group </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table">
                                    <tr>
                                        <th>Assignment</th>
                                        <th>Group</th>
                                        <th>Deadline</th>
                                        <th>Grade</th>
                                        <th>Explanation</th>
                                    </tr>
                                    {% for c in homework %}
                                    <tr>
                                        <td>{{ c.assignment_name }}</td>
                                        <td>{{ c.members|linebreaks }}</td>
                                        <td>{{ c.deadline }}</td>
                                        {% if c.deadline_miss %}
                                        <td>F</td>
                                        <td>Late Submission</td>
                                        {% else %}
                                        <td>{{ c.grade|grade_alphabet }}</td>
                                        <td>{{ c.explanation|linebreaks  }}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="upload" class="content" style="display: {% if file_upload %} block {% else %} none {% endif %}">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Upload </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!-- {{file_upload.group.homework.homework_name}} {{file_upload.group.id}} {{file_upload.group.group}} {{request.user.id}} -->
                                    <form action="{% url 'student__upload_assignment' %}" method="POST" enctype="multipart/form-data" class="form-horizontal form-label-left">
                                        {% csrf_token %}
                                        <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="assignment_upload">Upload Assignment {{file_upload.group.homework.homework_name}}
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="file" name="{{ file_upload.group.id }}" class="form-control col-md-7 col-xs-12" required id="assignment_upload">
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <div class="col-md-4 col-sm-3 col-xs-12"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="submit" value="Submit" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="peer_evaluation" class="content" style="display: {% if peerevalutation %} block {% else %} none {% endif %}">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Peer Evaluation </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                {% for c in peerevalutation %}
                                <form method="POST" action="{% url 'student__peervaluation' c.id c.group.id %}" class="form-horizontal form-label-left">
                                    {% csrf_token %}
                                    <label>Assignment {{ c.homework.homework_name }}</label>
                                    <a href="{{c.group.attachment}}" class="btn btn-download" download>Download File</a>
                                    <br> 
                                    <label>Grading Rubric:</label> <p>Hello this is dummy text {{c.group.id}} {{c.id}}</p>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Grade
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            {% comment %} <input type="number" name="grade" class="form-control col-md-7 col-xs-12" required> {% endcomment %}
                                            <select name="grade" class="form-control col-md-7 col-xs-12" required>
                                                <option value="4.00">A</option>
                                                <option value="3.67">A-</option>
                                                <option value="3.33">B+</option>
                                                <option value="3.00">B</option>
                                                <option value="2.67">B-</option>
                                                <option value="2.33">C+</option>
                                                <option value="2.00">C</option>
                                                <option value="1.67">C-</option>
                                                <option value="1.33">D+</option>
                                                <option value="1.00">D</option>
                                                <option value="0.67">D-</option>
                                                <option value="0.00">F</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Explanation
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea  name="explanation" class="form-control col-md-7 col-xs-12" required> </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-3 col-xs-12"></div>
                                        <div class="col-md-6 col-sm-9 col-xs-12 col-md-offset-3">
                                          <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                      </div>
                                </form>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grades" class="content" style="display: {% if grade %} block {% else %} none {% endif %}">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2> Grades </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                {% for c in grade %} {% if c.type == "grade" %}
                                <div>
                                    <label> Assignment {{ c.homework_name }} Grade: </label> {{ c.grade|grade_alphabet }}
                                    <br> 
                                    <label>Explanation: </label> {{c.explanation}}
                                    <br>
                                </div>
                                {% endif %} {% if c.type == "appeal" and c.appeal_done_status %}
                                <form method="POST" action="{% url 'student__appeal' c.group %}" class="form-horizontal form-label-left">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="appeal_reason">Appeal Reason for group
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea name="appeal_reason" class="form-control col-md-7 col-xs-12" required id="appeal_reason"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-3 col-xs-12"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="submit" value="Appeal" class="btn btn-primary">
                                            <input type="button" value="Don't Appeal" class="btn">
                                        </div>
                                    </div>
                                </form>
                                <br> {% endif %} {% endfor %}
                                <hr>
                                {% if appeal_grade_result %}
                                <div class="x_title">
                                    <h2> Appeal Grade </h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    {% for c in appeal_grade_result %}
                                    <div>
                                        <label> Assignment {{ c.group.homework.homework_name }} Grade: </label> {{ c.grade|grade_alphabet }}
                                        <br> 
                                        <label>Explanation: </label> {{c.appeal_explanation}}
                                        <br>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="appeal_grader" class="content" style="display: {% if appeal_grader %} block {% else %} none {% endif %}">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2> Appeal Grader </h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    {% for values in appeal_grader %}
                                        {% if not values.is_grading_done or not values.is_peer_grading_done %}                            
                                            {% for c in values.grade %}
                                                {% if forloop.first  %}
                                                    <a href="{{c.group_obj.attachment}}" download>Download File</a>
                                                {% endif %}
                                                <div>
                                                    <label> Original Assignment {{ c.homework_name }} Grade </label> {{ c.grade }}
                                                    <br> Explanation: {{c.explanation}}
                                                    <br>
                                                </div>
                                                {% if forloop.last %}
                                                    <hr>
                                                    {%if not values.is_grading_done %}
                                                        <h5>Assignment Grade</h5>
                                                        <form method="POST" action="{% url 'student__submit_appeal_grade' c.group %}" class="form-horizontal form-label-left">
                                                            {% csrf_token %}
                                                            <label>Assignment {{ c.homework_name }} </label>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="grade">Grade
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    {% comment %} <input type="number" name="grade" class="form-control col-md-7 col-xs-12" required id="grade"> {% endcomment %}
                                                                    <select name="grade" class="form-control col-md-7 col-xs-12" required id="grade">
                                                                        <option value="4.00">A</option>
                                                                        <option value="3.67">A-</option>
                                                                        <option value="3.33">B+</option>
                                                                        <option value="3.00">B</option>
                                                                        <option value="2.67">B-</option>
                                                                        <option value="2.33">C+</option>
                                                                        <option value="2.00">C</option>
                                                                        <option value="1.67">C-</option>
                                                                        <option value="1.33">D+</option>
                                                                        <option value="1.00">D</option>
                                                                        <option value="0.67">D-</option>
                                                                        <option value="0.00">F</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="appeal_explanation">Explanation
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <textarea name="appeal_explanation" class="form-control col-md-7 col-xs-12" required id="appeal_explanation"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-4 col-sm-3 col-xs-12"></div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <input type="submit" value="Submit" class="btn btn-primary">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            
                                            <!-- peer grader -->
                                            {% if not values.is_peer_grading_done and values.peer_grader %}
                                                <h5>Peer Evaluator for Assignment {{ values.homework }}</h5>
                                                {% for c in values.peer_grader %}
                                                    {% if forloop.first %}
                                                        <form method="POST" action="{% url 'student__submit_appeal_peer_grade' c.group %}" class="form-horizontal form-label-left">
                                                            {% csrf_token %}
                                                    {% endif %}
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Grader {{ forloop.counter }} ({{c.grade}})
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                           {% comment %} <input type="number" name="grade__{{c.user.id}}" class="form-control col-md-7 col-xs-12" required> {% endcomment %}
                                                           <select name="grade__{{c.user.id}}" class="form-control col-md-7 col-xs-12" required>
                                                            <option value="4.00">A</option>
                                                            <option value="3.67">A-</option>
                                                            <option value="3.33">B+</option>
                                                            <option value="3.00">B</option>
                                                            <option value="2.67">B-</option>
                                                            <option value="2.33">C+</option>
                                                            <option value="2.00">C</option>
                                                            <option value="1.67">C-</option>
                                                            <option value="1.33">D+</option>
                                                            <option value="1.00">D</option>
                                                            <option value="0.67">D-</option>
                                                            <option value="0.00">F</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Explanation
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <textarea name="peer_explanation__{{c.user.id}}" class="form-control col-md-7 col-xs-12" required></textarea>
                                                        </div>
                                                    </div>
                                                    {% if forloop.last %}
                                                    <div class="form-group">
                                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                        <button type="submit" class="btn btn-success">Submit Grade</button>
                                                        </div>
                                                    </div>
                                                    </form>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}