<html>

<head>

</head>

<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <h4> In which course you are enrolled?</h4>
            <select name="course" required>
                <option value="">Select {{ selected_course }}</option>
                {% for c in course %}
                <option value="{{ c.id }}" {% if c.id|slugify == selected_course|slugify %} selected {% endif %}>{{ c.course_name }} </option>
                {% endfor %}
            </select>
            {% for c in constraints %}
            <h4>{{c.question}} </h4>
            {% for d in c.options %}
            <input type="radio" name="{{c.id}}" value="{{d.value}}" required {% if d.value == c.selected %} checked {% endif %}>{{d.content}}
            <br> {% endfor %} {% endfor %}
            <input type="submit" value="Submit">
        </form>

    </div>
</body>

</html>