<html>
<head>

</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <h4> In which course you are enrolled?</h4>
            <select name="course" disabled>
                <option value="">Select {{ selected_course }}</option>
                {% for c in course %}
                <option value="{{ c.id }}" {% if c.id|slugify == selected_course|slugify %} selected {% endif %} readonly>{{ c.course_name }} </option>
                {% endfor %}
            </select>
            {% for c in constraints %}
            <h4>{{c.question}} </h4>
            {% for d in c.options %}
            <input type="radio" name="{{c.id}}" value="{{d.value}}" required {% if d.value == c.selected %} checked {% endif %}>{{d.content}}
            <br> {% endfor %} {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
    <hr>
    <div>
        <table>
            <tr>
                <th>Assignment</th>
                <th>Group </th>
                <th>Deadline </th>
                <th>Grade</th>
                <th>Explanation</th>
            </tr>
            {% for c in homework %}
            <tr>
                <td>{{ c.assignment_name }}   </td>
                <td>{{ c.members }} </td>
                <td>{{ c.deadline }}</td>
                <td>{{ c.group.grade }}</td>
                <td>{{ c.explanation }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
    <h1>
        Upload Assignment {{file_upload.group.homework.homework_name}} {{file_upload.group.id}} {{file_upload.group.group}} {{request.user.id}}
        <div>
            <form action="{% url 'student__upload_assignment' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="{{ file_upload.group.id }}">
                <input type="submit" value="Submit"> 
            </form>
        </div>
    </h1>
    <hr>
    <h2>Peer Evalutaion</h2>
    {% for c in peerevalutation %}
        <div>
            <form method="POST" action="{% url 'student__peervaluation' c.id c.group.id %}"> 
                Assignment {{ c.homework.homework_name }}<br>
                <a href="{{c.group.attachment}}">Download File</a>
                <br>
                    Grading Rubric: Hello this is dummy text {{c.group.id}}  {{c.id}}
                <br>
                <label>Grade</label> <input type="text" name="test"> <br>
                <label>Explanation</label> <input type="text" name="test"> <br>
                <input type="submit">
                <hr>
            </form>
        </div>
    {% endfor %}
</body>

</html>